<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../assets/main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

    <title>Pouf Pouf Pantoufle - Captations</title>
  </head>
  <body class="bg-captation">
    <div class="container-center">
        <a href="../index.html" class="return-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256">
            <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
          </svg>
        </a>
        <h1 class="fadeIn-title"><span>1er album : Pouf pouf pantoufle</span></h1>
        <p class="fs-400 text-reveal text-reveal-capta">
          <span>le chaos prend enfin sa forme définitive, </span>
          <span>notre premier album sorti chez BMM Records !</span>
        </p>
        <div class="album-cover-container">
          <a class="album-cover" href="https://bmm.ffm.to/poufpoufpantoufle" target="_blank">
            <img src="../images/album-cover.jpg" alt="Album Cover">
          </a>
        </div>
        <p class="fs-400 text-reveal text-reveal-capta">
          <span>Extrait de l'album : Ragondin</span>
        </p>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=629657828/size=large/bgcol=69A197/linkcol=0C0202/tracklist=false/artwork=none/transparent=true/" seamless>
          <a href="https://poufpoufpantoufle.bandcamp.com/album/pouf-pouf-pantoufle">Pouf Pouf Pantoufle by Pouf Pouf Pantoufle</a>
        </iframe>
        <h1 class="fadeIn-title"><span>Captations</span></h1>

        <p class="fs-400 text-reveal text-reveal-capta">
          <span>Retrouvez ici les captations de nos performances</span>
          <span>en live, enregistrées lors de nos concerts.</span>
        </p>

        <div>
          <span>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/02IMh_PDr6U?si=p2lQ_ULvbcq8tSuN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </span>
          <span>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/CB1r02vBstI?si=gl0Ad8U199O0CBOR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </span>
          <span>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/yv-0q-Mu0SU?si=lpEOhQKGP0_yO17R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </span>
          <span>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/agEKylwH0GQ?si=eNZUXN7Qv218bAmJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </span>
          <span>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/88j7x1cdOEA?si=jeTcMPBetTbVtpO2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </span>
        </div>
    </div>
  </body>
</html>
