<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pouf Pouf Pantoufle - presentation</title>
  </head>
  <body class="bg-presentation">
    <div class="container-center">
        <a href="../index.html" class="return-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256">
                <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
            </svg>
        </a>
        <h1 class="fadeIn fadeIn-1"><span>Présentation</span></h1>
        <p class="fs-400 text-reveal text-reveal-pres bg-presentation">
          <span>Derrière le nom Pouf Pouf Pantoufle, se dissimule</span>
          <span>un collectif d'improvisateurs nancéiens, issus de</span>
          <span>l'école des musique de Lillebone, qui expériment</span>
          <span>différentes matières et textures sonores en</span>
          <span>mêlant acoustique et électronique.</span>
        </p>
    </div>
  </body>
</html>
