/* FONTS */

@font-face {
  font-family: Slab;
  src: url(fonts/typoslab_irregular/TypoSlab\ _Irregular_Demo.otf);
}

@font-face {
  font-family: CoolVetica;
  src: url(./public/fonts/coolVetica/coolvetica\ rg.otf);
}

:root {
  --main-bg-color: #312A24;

  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.75rem;
  --fs-500: 2.25rem;
  --fs-600: 2.5rem;
  --fs-800: 3.2rem;

  line-height: 1.5;
  font-weight: 400;

  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UTILS */

.fs-200{
  font-size: var(--fs-200)!important;
}

.fs-300{
  font-size: var(--fs-300)!important;
}

.fs-400{
  font-size: var(--fs-400)!important;
}

.fs-500{
  font-size: var(--fs-500)!important;
}

.fs-600{
  font-size: var(--fs-600)!important;
}

.fs-800{
  font-size: var(--fs-800)!important;
}

.fw-regular{
  font-weight: normal;
}

.fw-bold{
  font-weight: bold;
}

.visible{
  opacity: 1!important;
}

.invisible{
  opacity: 0!important;
}

.d-none{
  display: none!important;
}

.height-auto{
  max-height: 450px!important;
}

.d-block{
  display: block!important;
}

.text-hidden{
  font-size: 0;
}

body{
  height: 200vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  color: white;
  font-family: CoolVetica, system-ui, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--fs-800);
  line-height: 1.1;
  font-family: Slab, system-ui, Helvetica, Arial, sans-serif;
  display: flex;
  transition: all 05s;
  justify-content: center;
  align-items: end;
}

.hero, .section1{
  height: 100vh;
  transition: all 0.5s;
  opacity: 0;
}

.hero .hero-content{
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -30%);
}

.hero-text{
  text-align: center;
  font-size: var(--fs-300);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 2s ease-in-out, opacity 1s ease-in;
}

.square{
  position: fixed;
  top: 20%;
  left: 5%;
}

.triangle{
  position: fixed;
  top: 17%;
  right: 5%;
}

.sawtooth{
  position: fixed;
  bottom: 20%;
  left: 5%;
}

.sine{
  position: fixed;
  bottom: 20%;
  right: 5%;
}

.scrollDown{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-text{
  font-size: var(--fs-400);
  transition: all 05s;
}

.chevron{
  fill: white;
  width: 60px;
  opacity: 1;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
/* 
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
} */

.section1 .section1-content{
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.ouf, .ouf2, .antoufle {
  font-size: 0;
  transition: 1s;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 300vh;
}


/* Animations */


@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
